apiVersion: v1
kind: Service
metadata:
  labels:
    app: {appName}
  name: {appName}
  namespace: {namespace}
spec:
  ports:
  - name: 8080-tcp
    port: 8080
    protocol: TCP
    targetPort: 8080
  selector:
    deploymentconfig: {appName}
  type: ClusterIP